@{
    ViewData["Title"] = "Access Denied";
}

<div >

    <!-- 404 Error Text -->
    <div>
        <div data-text="401">401</div>
        <p>You are not authorized</p>
        <a href="/admin/post">&larr; Back to Dashboard</a>
    </div>

</div>