@model SitoLtb.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<main>
    <div class="title-button">
    <a asp-action="Index" asp-controller="User">Indietro</a>
    </div>
        <div>
            <h4>Resetta Password</h4>
        </div>
        <div class="reset-password-container">
            <input type="hidden" asp-for="Id" />

            <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin" class="reset-password-form">
  
                <div class="form-group">
                    <label for="UserName">Username</label>
                    <input type="text" asp-for="UserName" readonly class="form-control" />
                    <span asp-validation-for="UserName" class="validation-message"></span>
                </div>

                <div class="form-group">
                    <label for="NewPassword">Nuova Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="validation-message"></span>
                </div>

                <div class="form-actions">
                    <button type="submit" class="submit-button">Reset Password</button>
                </div>
            </form>
        </div>

</main>

