<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Libero Torneificio del Borgo: da 15 anni scacchi e bar a un altro livello!" />
    <title>Home | Libero Torneificio del Borgo</title>
    <link rel="icon" type="image/png" href="/images/logo_LTB_Site_Icon.png">
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
    <div class="header">
    <div class="upper-header"></div>

    <header class="main-header">
        <div class="logo-title">
            <img src="/images/logo_LTB_Site_Icon.png" alt="Logo LTB" />
            <a asp-controller="Home" asp-action="Index">Libero Torneificio del Borgo</a>
        </div>

        <nav class="main-navbar" aria-label="Menu principale">
            <ul>
                <li><a asp-controller="Home" asp-action="Preiscrizione">Tornei</a></li>
                <li><a asp-controller="Home" asp-action="Corsi">Corsi</a></li>
                <li><a asp-controller="Home" asp-action="Blog">Notizie</a></li>
                    <li><a asp-controller="Home" asp-action="Universita">Universita</a></li>
                    <li><a asp-controller="Home" asp-action="ChiSiamo">Chi siamo</a></li>
                    <li><a asp-controller="Home" asp-action="Contatti">Contatti</a></li>
                <li><a asp-controller="Home" asp-action="DoveGiocare">Dove giocare a Torino</a></li>

            </ul>
        </nav>
    </header>
    </div>

  
        @RenderBody()


    <footer class="main-footer">
        <a href="https://wa.me/393397703130" target="_blank" rel="noopener noreferrer">
            <img src="/images/logoWhattsapp.jpg" alt="Logo WhatsApp" style="width: 60px; vertical-align: middle; margin-right: 8px;">
            Scrivici un messaggio
        </a>
    </footer>


    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
