@model SitoLtb.ViewModels.CreateTournamentVM

<main>
    <div class="title-button">
        <a asp-action="Index" asp-controller="Tournament">Indietro</a>
    </div>

    <div class="Title-list-of-users">
        <h4>Nuovo torneo</h4>
    </div>

    <section class="reset-password-container">
        <form asp-action="Edit" asp-controller="Tournament" asp-area="Admin" enctype="multipart/form-data" class="reset-password-form">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="validation-message"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tipologia">Tipologia</label>
                <select asp-for="Tipologia" class="form-control">
                    <option value="Standard">Standard</option>
                    <option value="Rapid">Rapid</option>
                    <option value="Blitz">Blitz</option>
                    <option value="Eterodosso">Eterodosso</option>
                </select>
                <span asp-validation-for="Tipologia" class="validation-message"></span>
            </div>

            <div class="form-group">
                <label>Link Bando</label>
                <input type="text" asp-for="LinkBando" class="form-control" />
                <span asp-validation-for="LinkBando" class="validation-message"></span>
            </div>

            <div class="form-group">
                <label>Link Preiscrizioni</label>
                <input type="text" asp-for="LinkPreiscrizione" class="form-control" />
                <span asp-validation-for="LinkPreiscrizione" class="validation-message"></span>
            </div>

            <div class="form-group">
                <label>Data</label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="validation-message"></span>
            </div>

            <div class="form-group checkbox-inline">
                <input asp-for="Elo" />
                <label asp-for="Elo">Elo</label>
            </div>


   

            <div class="form-actions">
                <button type="submit" class="submit-button">Salva</button>
            </div>
        </form>
    </section>
</main>
