@using Microsoft.AspNetCore.Identity;
@using SitoLtb.Data
@inject UserManager<ApplicationUser> _userManager;
@{
    var loggedInUser = new ApplicationUser();
    loggedInUser = _userManager.Users?.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Gestionale</title>
    <link rel="stylesheet" href="/css/adminLayout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <!-- Page Wrapper -->
    <header>
        <nav class="main-navbar">

        <!-- Sidebar -->
        <ul>
            <li>
            <!-- Sidebar - Brand -->
                <a asp-area="Admin" asp-controller="Post" asp-action="Index">
                    <div>
                        <i class="fas fa-gear"></i>
                    </div>
                    <div>Gestionale</div>
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Post" asp-area="Admin">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Post</span>
                </a>
            </li>

                <li>
                    <a asp-action="Index" asp-controller="User" asp-area="Admin">
                    <i class="fas fa-fw fa-user"></i>
                        <span>Utenti</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Tournament" asp-area="Admin">
                    <i class="fas fa-fw fa-chess"></i>
                        <span>Tornei</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">
                    <i class="fas fa-fw fa-database"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
        </ul>
        </nav>



                <!-- Topbar -->
                <nav class="upper-navbar">                  
                    <div class="logout-user-container">
                            <a id="userLogged">
                                <span class="user-logged">
                                    @loggedInUser?.FirstName @loggedInUser?.LastName
                                </span>
                            </a>
                          
                             <form asp-action="Logout" asp-controller="User" asp-area="Admin" method="post">
                                    <button id="logoutButton">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw"></i>
                                        Logout
                                    </button>
                                </form>
            </div>
                </nav>

                </header>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()

            <footer>
                <div>
                </div>
            </footer>

    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const btn = document.getElementById('logoutButton');
            const trigger = document.getElementById('userLogged');

            trigger.addEventListener('click', function () {
                btn.style.display = btn.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>

</body>
</html>