@model SitoLtb.ViewModels.CreatePostVM

@{
    ViewData["Title"] = "Crea Post";
}

<div>
    <a asp-area="Admin" asp-action="Index" asp-controller="Post">Indietro</a>
    <div>
        <div>
            <h4>Nuovo Post</h4>
        </div>
        <div>
            <form asp-action="Create" asp-controller="Post" asp-area="Admin" enctype="multipart/form-data">

                <div>
                    <div>
                    <div>
                        <label>Titolo</label>
                        <input type="text" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                        <div>
                            <label asp-for="ApplicationUserId">Seleziona Utente</label>
                            <select asp-for="ApplicationUserId" asp-items="ViewBag.Users" class="form-control">
                                <option value="">-- Seleziona un utente --</option>
                            </select>
                            <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                        </div>
                        <div>
                            <label for="categoria">Categoria:</label>
                            <select id="categoria" name="categoria" asp-for="Categoria">
                                <option value="tornei">Verdolina</option>
                                <option value="universita">Università</option>
                            </select>
                        </div>
                    <div>
                        <label>Descrizione</label>
                         <textarea id="richEditor" asp-for="Description" class="form-control" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-2">
                            <img src="~/thumbnails/default_image.png" class="img-fluid" id="thumbnail" />
                    </div>
                    <div class="mb-2">
                        <label>Thumbnail</label>
                        <input type="file" asp-for="Thumbnail" class="custom-file"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                </div>
                
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Salva</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnail').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}
