@model SitoLtb.ViewModels.CreatePostVM

@{
    ViewData["Title"] = "Crea Post";
}

<main>
    <div class="title-button">
        <a asp-area="Admin" asp-action="Index" asp-controller="Post">Indietro</a>
    </div>

    <div>
        <h4>Nuovo Post</h4>
    </div>
        </main>


    <form asp-action="Create" asp-controller="Post" asp-area="Admin" enctype="multipart/form-data">

        <div class="row mb-2">
            <div class="col-9">
                <div class="mb-2">
                    <label>Titolo</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Categoria">Categoria</label>
                    <select asp-for="Categoria" class="form-control">
                        <option value="In evidenza">In evidenza</option>
                        <option value="Tornei">Tornei</option>
                        <option value="Eventi">Eventi</option>
                        <option value="Cis">Cis</option>
                    </select>
                    <span asp-validation-for="Categoria" class="validation-message"></span>
                </div>
                <div class="mb-2">
                    <label>Testo Post</label>
                    <textarea id="richEditor" asp-for="Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-2">
                    <img src="~/thumbnails/default_image.png" class="img-fluid" id="thumbnail" />
                </div>
                <div class="mb-2">
                    <label>Thumbnail</label>
                    <input type="file" asp-for="Thumbnail" class="custom-file" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary w-100">Salva</button>
        </div>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
               document.addEventListener('DOMContentLoaded', function () {
            const inputFile = document.querySelector('input[type="file"]');
            const preview = document.getElementById('thumbnail');

            if (!inputFile || !preview) {
                console.error("File input o thumbnail non trovati");
                return;
            }

            inputFile.addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    preview.src = URL.createObjectURL(this.files[0]);
                }
            });
        });

    </script>
}
