<section class="section-1">
    <div>
        <h1>Chi Siamo</h1>
        <h3>
            LTB è un "Libero Torneificio", si occupa quindi di organizzare e
            pubblicizzare qualsiasi evento che possa rendere agli scacchi quello che è
            degli scacchi, nell'amicizia e nella voglia di stare insieme.
        </h3>
    </div>
</section>

<section class="section-direttivo">
    <h2>Il Direttivo di LTB</h2>
    <ul class="lista-direttivo">
        <li class="card sinistra">
            <img src="/images/HeroImage.jpg" alt="Mario Iacomussi" />
            <div class="info">
                <p class="nome">Mario Iacomussi</p>
                <p class="ruolo">Il Presidente</p>
            </div>
        </li>
        <li class="card destra">
            <img src="/images/HeroImage.jpg" alt="Pasquale Partipilo" />
            <div class="info">
                <p class="nome">Pasquale Partipilo</p>
                <p class="ruolo">Il Presidente</p>
            </div>
        </li>
        <li class="card sinistra">
            <img src="/images/HeroImage.jpg" alt="Max de Barberis" />
            <div class="info">
                <p class="nome">Max de Barberis</p>
                <p class="ruolo">Il Vice Presidente</p>
            </div>
        </li>
        <li class="card destra">
            <img src="/images/HeroImage.jpg" alt="Manuel Macis" />
            <div class="info">
                <p class="nome">Manuel Macis</p>
                <p class="ruolo">Il Consigliere</p>
            </div>
        </li>
        <li class="card sinistra">
            <img src="/images/HeroImage.jpg" alt="Marco Mina" />
            <div class="info">
                <p class="nome">Marco Mina</p>
                <p class="ruolo">Il Consigliere</p>
            </div>
        </li>
        <li class="card destra">
            <img src="/images/HeroImage.jpg" alt="Caprioli" />
            <div class="info">
                <p class="nome">Caprioli</p>
                <p class="ruolo">Il Responsabile al Safeguarding</p>
            </div>
        </li>
    </ul>
</section>
