<section class="section-1">
<div>
<h1>Chi Siamo</h1>
<h3>Ltb è un "Libero Torneificio", si occupa quindi di organizzare e pubblicizzare qualsiasi evento che possa rendere agli scacchi quello che è degli scacchi, nell'amicizia e nella voglia di stare insieme'</h3>
    </div>
</section>
<secion class="section-5">
<h2>il Direttivo di LTB</h2>
<ul class="lista-direttivo">
    <li class="dispari">
        <img src="/images/HeroImage.jpg" />
        <a>Mario Iacomussi</a>
        <a>il Presidente</a>
    </li>
    <li class="pari">
        <img src="/images/HeroImage.jpg" />
        <a>Pasquale Partipilo</a>
        <a>il Presidente</a>
    </li>
    <li class="dispari">
        <img src="/images/HeroImage.jpg" />
        <a>Max de Barberis</a>
        <a>il Vice Presidente</a>
    </li>
        <li class="pari">
        <img src="/images/HeroImage.jpg" />
        <a>Manuel Macis</a>
        <a>il Consigliere</a>
    </li>
    <li class="dispari">
        <img src="/images/HeroImage.jpg" />
        <a>Marco Mina</a>
        <a>il Consigliere</a>
    </li>
    <li class="pari">
        <img src="/images/HeroImage.jpg" />
        <a>Caprioli</a>
        <a>il Responsabile al Safeguarding</a>
    </li>
</ul>
</secion>