
<section class="corsi-title">
        <h1>Benvenuto nella scuola di scacchi LTB</h1>
        <button><a asp-controller="Scuola" asp-action="RedirectToExternalUrl">Testa il tuo livello!</a></button>
</section>
    <section class="section-1">
        Con delibera del 6 aprile scorso della FSI, ad LTB è stato riconosciuto il livello più prestigioso delle scuole di scacchi italiane.<br />
        Questo è un merito corale del nostro circolo che ha saputo coordinare le forze positive di cui dispone, in ciò pungolato e ripagato dai nostri giovani di punta che stanno conseguendo risultati sempre più prestigiosi nella loro crescita scacchistica.
    </p>
</section>
<section class="section-2">
    <p>
            <b>Istruttore Capo:</b> MF Pierluigi Passerotti, giocatore con un curriculum di prestigio, con 2 partecipazioni in 1a scacchiera per la squadra italiana alle Olimpiadi.
    </p>
</section>
<section class="section-3">
    <p>
            <b>Coordinatore degli istruttori:</b> CM Massimo de Barberis
    </p>

</section>
<section class="section-4">

    <h4>Istruttori SNAQ:</h4>
        <ul>
        <li> CM Federico Briata</li>
        <li>CM Bringas Osuna Ivan</li>
        <li>CM Manuel Macis</li>
        <li>CM Marco Mina</li>
        <li>CM Paolo Ragni</li>
        <li>1N Luca Princivalle</li>
        <li>1N Andrea Figari</li>
        <li>NC Antonella Balla (divulgatrice)</li>

</ul>

        <h4>altri Istruttori</h4>
<ul>
        <li>MF Ahmed Zeyat</li>
        <li>CM Sasan Alibabaei</li>
        
</ul>
</section>
<section class="section-5">
    <p>
            Le sedi dei corsi:
    </p>
    <p>
            I corsi LTB si svolgono alla Bocciofila "La Verdolina", in via Bena 10/A il sabato dalle 10 alle 12.<br />
            Il circolo però è disposto a fare corsi singoli o in gruppo (minimo 5 persone) su proposta degli stessi.
    </p>
</section>

    <!-- Intro Section -->
    <section class="text-center py-5">
        <div class="container">

        </div>
    </section>