<section class="section-4">
    <div>
        <h1>Dove giocare a Torino</h1>
        <ul>
            <li>
                <img src="#" alt="Alternate Text" />
                <span>Comala</span>
            </li>
            <li>
                <img src="#" alt="Alternate Text" />
                <span>Parco Ruffini</span>
            </li>
            <li>
                <img src="#" alt="Alternate Text" />
                <span>Bar Centoni</span>
            </li>
            <li>
                <img src="#" alt="Alternate Text" />
                <span>Baloon</span>
            </li>
            <li>
                <img src="#" alt="Alternate Text" />
                <span>Cafè Des Arts</span>
            </li>

        </ul>
    </div>
</section>
