﻿@{
    ViewData["Title"] = "Home Page";
    var googleMapsApiKey = ViewData["ApiKey"];
}

<section class="section1">
<img src="~/images/HeroImage.jpg" alt="Chessboard" />
<div>
<h1>Il Libero Torneificio del Borgo </h1>
<h2>Tutti i mercoledì nella sede in via Bena 10/a e tutti i giovedì presso l'associazione "Comala" puoi partecipare agli eventi del circolo</h2>
<button>Scopri gli eventi</button>
    </div>
</section>

<div class="section section1">
    <h2>La verdolina</h2>
</div>

<div class="section section2">
<h2>Dove siamo</h2>
<div id="map"></div>
</div>
<div class="section section3">
    <h2>La scuola di scacchi LTB</h2>
</div>
<div class="section section4">
    <h2> gli eventi sociali</h2>
</div>

<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>

<script>
    function initMap() {
        var location = { lat:45.073662, lng: 7.622538 }; // La verdolina
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@googleMapsApiKey&callback=initMap">
</script>