<div class="container mt-5">
    <h2 class="mb-4 text-center">Inserimento soci nel Database</h2>
    <form action="/Dati/Submit" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">nome: </label>
            <input type="text" id="nome" name="nome" required />
        </div>

        <br />

        <div class="mb-3">
            <label for="cognome" class="form-label">cognome: </label>
            <input type="text" id="cognome" name="cognome" required />
        </div>

        <br />

        <div class="mb-3">
            <label for="tipo" class="form-label">tipologia di tessera: </label>
            <select id="tipo" name="tipologiaIscrizione">
                <option>normale</option>
                <option>sostenitore</option>
            </select>
        </div>

        <br />
        <div>
            <button type="reset" class="btn btn-primary w-100">Cancella</button>
            <button type="submit" class="btn btn-primary w-100">Conferma</button>
        </div>
    </form>



