<div>da capire tutti gli articoli usciti con LTB

    io ricordo colo che per la maratona siamo usciti 
    - nel gazzettino di asti tipo
    - in 2 giornali piemontesi

    forse usciremo su La Repubblica con il post sul Comala?
</div>
