@model IEnumerable<SitoLtb.ViewModels.TournamentVM>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

<main>

    <h1 class="noPhoto">Preiscrizione Tornei</h1>
    <h3 class="subtitle">Qua puoi trovare tutte le informazioni dei tornei organizzati da LTB</h3>

    <section class="tournament-section">    
        <h3 class="title">Tornei alla Verdolina</h3>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Link Bando</th>
                    <th>Link Preiscrizione</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tournament in Model)
                {
                    <tr>
                        <td>@tournament.Nome</td>
                        <td>@(tournament.Data != null ? tournament.Data.ToString("dd/MM/yyyy") : "Data non disponibile")</td>
                        <td>
                            @if (!string.IsNullOrEmpty(tournament.LinkBando))
                            {
                                <a href="@Html.Raw(tournament.LinkBando)" target="_blank">Bando</a>
                            }
                            else
                            {
                                <span class="text-muted">Non disponibile</span>
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(tournament.LinkPreiscrizione))
                            {
                                <a href="@Html.Raw(tournament.LinkPreiscrizione)" target="_blank">Preiscrizione</a>
                            }
                            else
                            {
                                <span class="text-muted">Non disponibile</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>
