@model IEnumerable<SitoLtb.ViewModels.TournamentVM>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

<!-- Page Header-->
<h1>Preiscrizione Tornei</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Link Bando</th>
            <th>Link Preiscrizione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@tournament.Nome</td>
                <td>@(tournament.Data != null ? tournament.Data.ToString("dd/MM/yyyy") : "Data non disponibile")</td>
                <td>
                    @if (!string.IsNullOrEmpty(tournament.LinkBando))
                    {
                        <a href="@Html.Raw(tournament.LinkBando)" target="_blank">Bando</a>
                    }
                    else
                    {
                        <span>Non disponibile</span>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(tournament.LinkPreiscrizione))
                    {
                        <a href="@Html.Raw(tournament.LinkPreiscrizione)" target="_blank">Preiscrizione</a>
                    }
                    else
                    {
                        <span>Non disponibile</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
