
<body class="bg-light">

    <!-- Intro Section -->
    <section class="text-center py-5">
        <div class="container">
            <p class="lead">
                L'attività principale di LTB conta un torneo al mercoledì presso la bocciofila "La Verdolina" in via Bena 10/a e un torneo al giovedì in cooperazione con il Club Polito Scacchi presso l'associazione "Comala"
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <!-- Prima riga -->
                <div class="col-md-8">
                    <a asp-controller="Tornei" asp-action="Preiscrizione" class="btn-label">
                        <img src="/images/retro2.jpg" alt="Prossimi Tornei" class="w-100 h-100">
                        <span class="btn-label position-absolute text-white">Prossimi Tornei</span>
                </a>
                </div>
                <div class="col-md-4">
                    <div class="btn-wrapper w-100 aspect-ratio">
                        <a asp-controller="Tornei" asp-action="Blog" class="btn-label">
                        <video muted autoplay loop class="w-100 h-100" aria-hidden="true">
                            <source src="/images/test.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                            <span class="btn-label position-absolute text-white">Articoli</span>
                        </a>
                    </div>
                </div>

                <!-- Seconda riga -->
                <div class="col-md-4">
                    <div class="btn-wrapper w-100 aspect-ratio">
                        <a asp-controller="Tornei" asp-action="Universita" class="btn-label">
                            <video muted autoplay loop class="w-100 h-100" aria-hidden="true">
                                <source src="/images/test2.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <span class="btn-label position-absolute text-white">Universita</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <a asp-controller="Tornei" asp-action="Eventi" class="btn-label">
                        <img src="/images/retro5.jpg" alt="Dove giocare a Torino" class="w-100 h-100">
                        <span class="btn-label position-absolute text-white">></span>
                    </a>
                </div>
            </div>
        </div>
    </section>


   
</body>
</html>